body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-inline {
  margin: 0 auto;
}

.navbar .btn-danger {
  position: absolute;
  right: 0;
}
table {
  margin: 0 auto;
  max-width: 68%;
}
.form-check-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.form-check-input {
  position: relative;
}
form {
  width: 100%;
  padding: 20px;
}
.form-check-wrapper input {
  order: 2;
}
.form-check-wrapper label {
  order: 1;
}
.modal-confirm {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 300px;
  left: auto;
}
